#flash
	- flash.each do |name, msg|
		- unless flash_blacklist(name)
			= content_tag(:div, class: flash_class(name)) do
				= msg
				%button.close{"data-dismiss" => "alert", :type => "button"} ×

- if flash.any?
	:javascript
		$(document).ready(function(){
			$('.alert').fadeOut(3000, function() { 
				$(this).remove();
			})
		})
