<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_service_type.name %>
</p>

<%= link_to 'Edit', edit_room_service_type_path(@room_service_type) %> |
<%= link_to 'Back', room_service_types_path %>
