%h1 Listing Podcasts

%table#dttb-podcasts.responsive.nowrap.table.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Artwork image
      %th Publish
      %th Action


= link_to 'New Podcast', new_podcast_path