%h1 Listing Testimonials

%table#dttb-testimonials.responsive.nowrap.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Publish
      %th Testimonial type
      %th Location
      %th Gender
      %th Action


= link_to 'New Testimonial', new_testimonial_path