<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">miHygge</a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user.present? %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/admin/providers">Providers</a>
              <a class="dropdown-item" href="/customers">Customers</a>
              <a class="dropdown-item" href="/admin">Admin</a>
              <a class="dropdown-item" href="/users">Users</a>
              <a class="dropdown-item" href="/roles">Roles</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/providers">
              Providers
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/cares">
              Cares
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wordpress.com/posts/mihygge.wordpress.com">
              Blogs
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Analytics
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/podcasts">
              Podcasts
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonials">
              Testimonials
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newsletters">
              Newsletters
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/service_types">ServiceTypes</a>
              <a class="dropdown-item" href="/services">Services</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/facility_types">Facility Types</a>
              <a class="dropdown-item" href="/facilities">Facilities</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/licences">Licences</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Booking</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/bookings">Booking</a>
              <a class="dropdown-item" href="/beds">Beds</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plans">
              Plan
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subscriptions">
              Subscription
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Room</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/rooms">Rooms</a>
              <a class="dropdown-item" href="/room_types">Room Type</a>
              <a class="dropdown-item" href="/room_services">Room Services</a>
              <a class="dropdown-item" href="/room_service_types">Room Services Type</a>
            </div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Staff</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/staff_details">Staff Details</a>
              <a class="dropdown-item" href="/staff_roles">Staff Role</a>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>
